h1 {
    font-size: 40px;
}

h3 {
    color: #006EB6;
        border-bottom: 1px solid black;

}

footer, h1, h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
}

li {
    padding: 10px;
}

p, li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

img {
    width: 150px;
}


.page {
    margin: auto;
    max-width: 600px;
}

.dark {
    background-color: #333;
    color: #fff;
}
.dark h3 {
    color: rgb(160, 212, 237);
    border-bottom: 1px solid rgb(255, 255, 255);
}

