






:root {

  --primary-color: #4A90E2;
  --secondary-color: #FFD700;
  --accent1-color: #ff6f61;
  --accent2-color: #2ec4b6;
  --accent3-color: #F7F9F9;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Baloo 2', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: rgb(0, 0, 0); /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent3-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: #2C2C54;
  --nav-hover-background-color: var(--accent2-color);
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}


body {
    margin: 0;
    font-family: var(--paragraph-font);
    background-color: var(--accent3-color);
    
}
main {
  max-width: 1040px;
  margin: 0 auto;
}
footer {
  max-width: 1040px;
  margin: 2em auto;
  text-align: center;
}

h2 {
  
    border-radius: 1em;
    background-color: var(--accent2-color);
    padding: 10px;
    color: var(--nav-hover-link-color);
    
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    /* box-shadow: 0 5px 5px var(--primary-color); */
    border-radius: 0 0 1em 1em;
    height: 7em;
    z-index: 1000;
    box-shadow: inset 50px 0 30px rgba(0, 0, 0, 0.5), /* Left side shadow */
              inset -50px 0 30px rgba(0, 0, 0, 0.5); /* Right side shadow */
}


.heading {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.random-div {
  position: relative;
  z-index: 1; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.random-text {
  width: 370px;
  margin-left: 2em;
  background-color: rgba(46, 196, 182, .8);
  padding: 10px;
  border-radius: 1em 1em;
  box-shadow: 1px 1px 1px rgb(104, 104, 104);
  color: var(--nav-hover-link-color);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.button {
  margin-right: 2em;
  padding: 15px;
  border-radius: 1em 1em;
  border: 0;
  height: 4em;
  font-weight: bold;
  font-size: .8em;
  background-color: var(--accent1-color);
  color: rgb(14, 38, 11);
}

.button:hover {
  
  cursor: pointer;
  background-color: var(--accent2-color);
  color: var(--nav-hover-link-color);
  transform: scale(1.05);
}

.banner {
  position: relative;
  /* margin-top: .5em; */

  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures the zoomed-in image doesn't overflow */
    height: 40vh;
}

h3 {
  font-size: 2em;
  margin: 0 0 1em 0;
  color: #2C2C54;
}

.getValues {
  width: 100%;
  margin: 1em 0;
  padding: 3em;
  border: 3px solid black;
  border-radius: 1em;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3em;
}
.inputs input {
  font-size: 2em;
  width: 150px;
}

h1 {
    font-size: 2em;
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}

#title {
    margin-right: auto;
}

#logo {
    margin: 0 auto 0 2em;
    width: 80px;
    height: 80px;
}

#banner-img {
  width: 100%;
  border-radius: 1em 1em;

  box-shadow: 5px 5px 5px rgb(111, 111, 111);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures the image covers the width */
  height: auto; /* Maintains the aspect ratio */
  transition: transform 0.5s ease;
}



.madLibOptions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}
.madLibOptions div {
  margin: .3em;
}

.minDisplay {
  width: 300px;
  background-color: rgb(222, 222, 222);
  margin: 1em auto;
  text-align: center;
  border-radius: 1em;
  border: 2px solid rgb(175, 181, 107);
  padding: 1em;
}

.minDisplay:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.minDisplay p {
  font-family: var(--paragraph-font);
  font-size: 1.5em;

}
.minDisplay img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
  box-shadow: 5px 5px 5px rgb(99, 99, 99);
  width: 300px;
  }
.getValues img {
  max-width: 100%;
  border-radius: 1em;
  box-shadow: 5px 5px 5px rgb(99, 99, 99);
}

.story {
  text-align: left;
  font-size: 2em;
  line-height: 1.3em;
}

.return-main {
  width: 100px;
  margin: 1em 0;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1em auto;
}

@media (max-width: 768px) {
  #banner-img {
      transform: scale(1.5); /* Zooms in the image */
  }
  .banner {
    height: 20vh;
  }


  #title {
    display: none;
  }

  .random-div {
      flex-direction: column; /* Stacks content vertically */
      gap: 1.5rem; /* Adjusts spacing for vertical layout */
      
    }
  .random-div * {
    width: auto;
    margin: auto;
  }

  .inputs {
    flex-direction: column;
  }
  .inputs *, .inputs input {
    width: 100%;
  }

  #story-class {
    margin: .5em;
    width: 100%;
  }
  #story-class p {
    font-size: 1em;
  }
  .flex-box {
    margin: auto;
    width: 70%;
  }
  .getValues {
    padding: 20px;
  }

}
